.errorContainer {
  height: 100vh;
}

.errorMensaje h1 {
  animation: type .5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}


* {
  box-sizing: border-box;
}

footer {
  background-color: #080000;

}